.container {
  // background: url("../img/stars.jpg") center/cover no-repeat;
  background-color: #FBFFB9;
  .main {
    h1 {
      font-size: 3em;
    }
    p {
      font-family: sans-serif;
    }
  }
}  
